html {
  font-family:'Amiko';
  background-color: #EEDAD1;
  color: #383E56;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

div{
  background-color: #EEDAD1;
}

a{
  font-family: 'Amiko';
}

.carousel-caption {
  position:inherit;
  left: 0;
  top: 0;
}

@media screen and (min-width: 767.55px) {
  .mobile{
    display: none;
  }
  .title-img{
    width: 40%;
    padding-left: 2%;
    margin-left: 3%;
  }
  .back-img{
    width: 5%;
    padding-left: 2%;
    margin-left: 2%;
  }
}

@media screen and (min-width: 0px) and (max-width:767.54px){
  .desktop{
    display: none;
  }
  .title-img{
    width: 50%;
    padding: 3%;
    margin-left: 1%;
  }
  .back-img{
    width: 30%;
    padding-left: 3%;
    margin-left: 15%;
  }
}

.card-header{
  background-color: #383E56;
  font-family: 'Amiko';
  color: #EEDAD1;
}

.cust-col{
  color: #E5E5E5;
}

.content {
  flex: 1 0 auto;
  margin: 92.38px 0px 0px 0px;
}

.cust-col:active{
  color: #F69E7B;
}

.cust-col:hover{
  color: #F69E7B;
}

.cust-text{
  color: #383E56;
  font-family: 'Amiko';
}

.cust-text2{
  font-family: 'Amiko';
  color:#EEDAD1 ;
}

.cust-img {
  width: 100%; 
  height: 300px;
  object-fit: cover
}

.cust-img2 {
  height: 210px;
  width: 100%;
  object-fit: cover;
}

.cust-img3 {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cust-img4 {
  width: 100%; 
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius:0px 0px 0px 20px;
  }

.cust-img5 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0px 0px 0px 20px;
    padding-left: 0;
}

.cust-button1 {
  border-radius: 0px 10px;
  background: #383E56;
  color: #E5E5E5;
}

.cust-button2 {
  background: #F69E7B;
  border-radius: 0px 10px 10px 10px;
  color: #383E56;
  padding: 1%;
  margin-left: 5%;
}

.cust-button3{
  background: #F69E7B;
  border-radius: 10px;
  color: #383E56;
  padding: 1%;
  margin: 5% 0%;
}

.cust-button4{
  background-color: #383E56;
  color: #E5E5E5;
  border-radius: 10px;
}

.cust-button5 {
  border-radius: 0px 10px 10px 10px;
  background: #F69E7B;
  color: #383E56;
}

.cust-button6 {
  border-radius: 10px;
  background: #383E56;
  color: #D4B5B0;
}

.cust-button7{
  border-radius: 10px;
  background: #D4B5B0;
  color: #383E56;
  }

.cust-button8{
  border-radius: 10px;
  background: #F69E7B;
  color: #383E56;
}

.custom-file-input::before {
  color: #D4B5B0;
  border: transparent;
  border-radius: 15;
}

.center_div{
  margin: 0 auto;
  width:60% /* value of your choice which suits your alignment */
}

input[type="text"],input[type="email"],input[type="password"], textarea {
  background-color : #D4B5B0; 
  border: transparent;
  border-radius: 15;
}

table {
  border-collapse: collapse;
}

td {
  padding-top: .5em;
  padding-bottom: .5em;
}

.fa-map-marker-alt {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #383E56;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container>div {
  padding: 0 5px;
}

.form-control{
-webkit-border-radius: 20;
   -moz-border-radius: 20;
        border-radius: 20;
}
.form-control:focus {
background-color: #D4B5B0;
border-color: #383E56;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #383E56;
}

.form-control::placeholder{
  color: #EEDAD1;
}

footer {
  bottom:0;
  font-family: 'Amiko';
  background-color: #383E56;
  color: #EEDAD1;
  flex-shrink: 0;
}

.cust-footer{
  font-family: 'Amiko';
  background-color: #383E56;
  color: #EEDAD1;

}

.cust-link:hover{
  color: #F69E7B;
}

.cust-link{
  color: #EEDAD1;
}

.cust-link2:hover{
  color: #F69E7B;
}

.cust-link2{
  color: #383E56;
}

.cust-link3 {
  color: #383E56;
}

.cust-link3:hover {
  color: #383E56;
  text-decoration: underline;
}

.cust-link4 {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #383E56;
}

.cust-link4:hover {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F69E7B;
}

.cust-link5:hover, .cust-link6:hover {
  text-decoration: none;
}

.cust-link5 .cust-contact-icon {
  color: #383E56;
}

.cust-link5 .cust-contact-label {
  color: #383E56;
}

.cust-link5:hover .cust-contact-icon {
  color: #F69E7B;
}

.cust-link5:hover .cust-contact-label {
  color: #F69E7B;
}

.cust-link6 .cust-contact-icon {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #383E56;
}

.cust-link6 .cust-contact-label {
  color: #383E56;
}

.cust-link6:hover .cust-contact-icon {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F69E7B;
}

.cust-link6:hover .cust-contact-label {
  color: #F69E7B;
}

.half-line {
  line-height: .125em;
  }


.cust-ran1{
  background-color: #383E56;
  border: transparent;
}

.cust-ran2{
  background-color: #F69E7B;
  border: transparent;
}

.card-cust1{
  background-color: #383E56;
  color: #EEDAD1;
  align-items: center;
  padding: 2%;
}

.card-cust2{
  background-color: #F69E7B;
  color: #383E56;
  align-items: center;
  padding: 2%;
}

